<div style="display: flex; justify-content: center; align-items: center; height: 100%; margin: 3rem; text-align: center;">
    <div>
        <h3>Loading</h3>
        <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Secondary" />
    </div>
</div>
