@inherits LayoutComponentBase
@using frontend.Services
@inject BackendAPI BackendAPIService

<div class="bb-page">

    <Sidebar @ref="sidebar"
             ImageSrc="assets/img/boat.svg"
             Title="Helm Registry"
             BadgeText="@utils.Constants.version"
             DataProvider="SidebarDataProvider" />
        
    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between">
            <div></div>
            <h1 id="main-title">@(BackendAPIService.RegistryInfo.Name != null ? BackendAPIService.RegistryInfo.Name : "Helm Registry")</h1>
            <a href="https://github.com/BenjaminFourmaux/Helm-Registry/" target="_blank"><Icon Name="IconName.Github" /> About</a>
        </div>

        <article class="content">
            <div class="py-2">@Body</div>
        </article>
    </main>

</div>

@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    protected override async Task OnInitializedAsync()
    {
        await BackendAPIService.GetRegistryInfoAsync();
    }


    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
                   {
                       new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
                       new NavItem { Id = "2", Href = "/repositories", IconName = IconName.ArchiveFill, Text = "Repositories"},
                       new NavItem { Id = "3", Href = "/icons", IconName = IconName.CardImage, Text = "Icons"},
                       new NavItem { Id = "4", Href = "/settings", IconName = IconName.GearFill, Text = "Settings"},
                   };
                   
        return navItems;
    }
}


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>