@page "/"
@using frontend.Client.Components
@using frontend.Models

<PageTitle>Home</PageTitle>

<div id="home">
    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h3>Welcome on</h3>
            <h2 class="registry-name">My Helm registry</h2>
            <h5 class="registry-description">A simple Helm registry</h5>
        </div>

        <hr/>

        <div class="row justify-content-center">
            <div class="col-8">
                <span><strong>Number of Repositories:</strong></span>
                <br />
                <span>@numberOfRepositories</span>
            </div>
            <div class="col-4 pt-3">
                <span><strong>Maintainer:</strong></span>
                <br />
                <span>Joe Doe</span>
            </div>
            <div class="col-8">
                <span><strong>Labels:</strong></span>
                <br />
                <TagInput Tags="@tagsList" />
            </div>
            <div class="col-4 pt-3">
                <a href="https://google.com/">https://google.com/ &nbsp;<Icon Name="IconName.BoxArrowInUpRight"/></a>
            </div>
        </div>
    </div>
</div>

@code {
    TagItem[] tagsList = new TagItem[] {new TagItem("label1", "secondary"), new TagItem("label2", "info")};
    int numberOfRepositories = 15;
}