@page "/icons"
@using frontend.Client.Components
@using frontend.Models
@using frontend.Services
@inject BackendAPI BackendAPIService
@inject IJSRuntime JSRuntime

<PageTitleTemplated>Icons</PageTitleTemplated>

<div class="page-top-banner">
    <h2>Icons</h2>
    <p>
        All your charts icons found in your registry
        <br />
        See <a @onclick="OnShowModalIncludeChartIconClick" class="link-style">how to add an icon to a chart</a>
        <br />
        Click on icons below to copy url in clipboard
    </p>
</div>

<div>
    @if (iconList != null)
    {
        <div class="row">
            @foreach(var icon in iconList)
            {
                <div class="col-2">
                    <Card class="my-3" onclick="@(() => OnCopyIconLinkClick(icon.Uri))">
                        <div class="d-flex justify-content-center align-items-center m-2">
                            <img src="@icon.Uri" class="w-75" />
                        </div>
                        <CardBody>
                            <CardTitle class="text-center pt-2" style="border-top: 2px solid black; margin-bottom: 0;">@icon.Name</CardTitle>
                        </CardBody>
                    </Card>
                </div>
            }
        </div>
    }
    else
    {
        <Loading />
    }
</div>


<Modal @ref="modalIncludeChartIcon" Title="Include Chart Icon" Size="ModalSize.Large">
    <BodyTemplate>
        <p>
            In your Chart.yaml file add the property <code>icon: path_to_the_icons</code>.
            <br />
            Click on the copy button and paste the link in your Chart.yaml to refered the icon.
        </p>

        <BlockCode Language="yaml" Theme="dark" ShowLang="true">
            <Filename>Chart.yaml</Filename>

<ChildContent>name: My_Chart
description: My amazing chart
...
icon: https://my-registry.lan/icons/my_chart.png</ChildContent>
        </BlockCode>

        <p>
            You can see your chart's icon in a Kubernetes vizualizer like OpenShift topology.
        </p>

    </BodyTemplate>
</Modal>

@code {
    private List<IconsItem> iconList;
    private Modal modalIncludeChartIcon;
    [Inject] protected ToastService ToastService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        iconList = await BackendAPIService.GetIconsList();
    }

    private async Task OnShowModalIncludeChartIconClick()
    {
        await modalIncludeChartIcon.ShowAsync();
    }
    private async Task OnHideModalIncludeChartIconClick()
    {
        await modalIncludeChartIcon.HideAsync();
    }

    private void OnCopyIconLinkClick(string uri)
    {
        // Copy the icon link to the clipboard
        JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", uri);
        ToastService.Notify(new ToastMessage {
            Type = ToastType.Success,
            IconName = IconName.Clipboard,
            Message = "Icon link copied",
        });
    }
}
