@page "/settings"
@using frontend.Client.Components
@using frontend.Models
@using frontend.Services
@inject BackendAPI BackendAPIService
@inject IJSRuntime JSRuntime

<PageTitleTemplated>Settings</PageTitleTemplated>

<div class="page-top-banner">
    <h2>Settings</h2>
    <p>
       Helm Registry settings
    </p>
</div>

<div>
    <form class="my-3">
        <!-- Registry Name -->
        <div class="form-group">
            <label for="registryName">Registry name</label>
            <input type="text" id="registryName" placeholder="my registry" class="form-control w-50"/>
        </div>

        <!-- Registry description -->
        <div class="form-group">
            <label for="registryDescription">Description</label>
            <textarea id="registryDescription" placeholder="My amazing registry" class="form-control w-50"></textarea>
        </div>

        <!-- Version -->
        <div class="form-group">
            <label for="version">Version</label>
            <select id="version" class="form-control w-25" disabled>
                <option selected>1.0.0</option>
                <option>1.1.0</option>
                <option>1.2.0</option>
            </select>
        </div>

        <!-- Maintainer -->
        <div class="form-group">
            <label for="maintainerName">Maintainer name</label>
            <input type="text" id="maintainerName" placeholder="mycompagny" class="form-control w-50" />
        </div>

        <!-- Maintainer URL -->
        <div class="form-group">
            <label for="maintainerUrl">Maintainer URL</label>
            <input type="text" id="maintainerName" placeholder="www.mycompagny.com" class="form-control w-50" />
        </div>

        <!-- Labels -->
        <div class="form-group">
            <TagInput Editable/>
            <br />
            <small id="labelsHelp" class="form-text text-muted">Separate each tag with a comma ';'</small>
        </div>

        <div class="mt-2 ml-auto">
            <Button Color="ButtonColor.Secondary">Cancel</Button>
            <Button Color="ButtonColor.Success"><Icon Name="IconName.Floppy2Fill"/> Save</Button>
        </div>
    </form>
</div>

@code {

}
